/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

html,body{
height: 100%;
}

body{
margin:0;
padding:0;
background:#2F2F2F;
font-family:"Helvetica Neue",Helvetica, Arial;
}

div#shim{
visibility: hidden;
width: 100%;
height: 50%;                                                                     
margin-top: -140px;                                                              
float: left;
}

div#content {
width: 940px;
height: 280px;
margin: 0 auto;
clear: both;
position: relative;
top: -140px;
position: static;
}

.logo_box{
width: 349px;
float: left;
border-right: 1px solid #8994a5;
height: 280px;
position: relative;
}

h1{
padding: 12px 80px 12px 20px;
position: absolute;
right: 0;
text-align:right;
top: 30%;
float: left;
color: #dcdcdd;
letter-spacing: -1px;
font-size: 48px;
}

h1 cufon{
margin-bottom: -4px;
}

h3{
font-size: 24px;
color: #8994a5;
float: left;
margin-right: 15px;
padding-top: 5px;
}

.main_box{
float: left;
width: 500px;
height: 95px;
padding: 40px;
padding-top: 102px;
}

h2{
font-family: Georgia;
color: #da2c38;
font-size: 36px;
margin-bottom: 36px;
}

h2 span{
color: #dcdcdd;
font-size: 16px;
line-height: 26px;
font-style: italic;
}

a:link {
    color: #eacbd2;
}

a:visited {
    color: #eacbd2;
}
